
button[type="submit"] {
    background-color: #349bab;
    width: calc((100% / 2) - 3px);
    display: inline-block;
    color: white;
    font-weight: 600;
    height: 2.8rem;
    border: none;
    font-family: Nunito;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
    margin-bottom: 10px;
  }

#name, #email, #pwd, #mob{
    margin-top: 5px;
}
